/* ===================
Bronnen:
Siebe Domeijer

=================== */

@font-face{
    font-family: 'Nexa';
    src: url('../fonts/Nexa%20Light.otf');
}

@font-face{
    font-family: 'Nexa';
    src: url('../fonts/Nexa%20Bold.otf');
    font-weight: bold;
}



/* ===================

Algemeen,
links, headers, fonts
=================== */

* {
    font-family: 'Nexa';
    color: #606060;
}

a {
    color: #00d66c;
    text-decoration: none;
}

a:hover{
    color: #2800a0;
}

h1{
    font-weight: bold;
    font-size: 2.5em;
    color: #00d66c;
    text-align: center;
    padding: 0.3em;
}

h2{
    font-weight: bold;
    font-size: 1.8em;
    color: #00d66c;
    /* color: #2800a0; */
    text-align: center;
    padding: 0.5em;
}

h3{
    font-weight: bold;
    font-size: 1.3em;
    color: #00d66c;
    /* color: #2800a0; */
    text-align: center;
    padding: 0.5em;
}

h4{
    font-weight: bold;
    font-size: 1.6em;
    color: #2800a0;
    text-align: center;
    padding: 0.5em;
}


h5{
    font-weight: bold;
    font-size: 1.1em;
    color: #2800a0;
    padding: 0.5em;
    font-family: 'Nexa';
}


 p{
    font-size: 0.95em;
    line-height: 1.7em;
    padding: 1em;
    /*http://stackoverflow.com/questions/17868503/on-css-if-text-line-is-break-show-dots */
    text-overflow: ellipsis;
    overflow: hidden;
}

/* ===================
Header

bronnen:
http://stackoverflow.com/questions/32551291/in-css-flexbox-why-are-there-no-justify-items-and-justify-self-properties/33856609#33856609
http://jsfiddle.net/mz1ft6jx/8/
=================== */



nav{
    display: flex;
    align-items: center;
    margin: 0.4rem 0;
}


nav>img{
    /*h1 moet in het midden, daarom absolute. Daarmee haal je h1 uit de flex flow*/
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    width: 25vw;
    /*     http://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */
    content:url("../images/LogoSite.png");
}


nav>a{
    margin-right: 1rem;
}

/* span toegevoegd om de tekst te kunnen veranderen naar een icon */
nav>a span{
    font-family: 'Nexa';
    font-size: 1em;
    color: #00d66c;
}

nav>a span:hover{
    color: #2800a0;
}

nav>a img{
    display: none;
    max-width: 2em;
    margin-right: 1rem;
    max-height: 2em;
}

nav>a#logo{
    margin-left: 1rem;
    /*logo staat links en drukt search afbeelding naar de rectherkant*/
    margin-right: auto;
}

nav>a#logo img{
    display: block;
    max-width: 12em;
    margin: 0;
    content:url("../images/transavia_logo.png");
}


/* ===================
nav
<70em ~= 1120px
tablet en kleine schermen
=================== */

@media (max-width: 70em){
    nav a span {
        display: none;
    }

    nav a img {
        display: block;
    }

}


/* ===================
nav
<70em ~= 1120px
tablet en kleine schermen
=================== */

@media (max-width: 50em){
    /*     http://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */

    nav>img{
        content:url("../images/LogoSite_klein.png");
        max-width: 7em;
        /* titel image naar links */
        position: relative;
        left: 0;
        transform: none;
        margin-right: auto;
    }

    nav>a#logo {
        /* titel image naar links */
        margin-right: 0.5rem;
    }

    nav>a#logo img{
       content:url("../images/transavia_logo_klein.png");
    }



}

/* ===================

section 'kunnen wij je helpen'

=================== */

main > form {
    display: flex;
    justify-content: center;
    background-color:rgb(247, 247, 247);


}

main > form > fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main > form > fieldset > legend > h4{
    margin: 1.2em;
}

/* fieldset werkt niet goed met flex, daarom div eromheen
http://stackoverflow.com/questions/27369754/css-flexbox-in-a-form */
main > form > fieldset > div {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

main > form input {
    height: 2.5em;
    flex-basis: 40%;
    min-width: 20em;
    display:inline-block;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgb(96,96,96);
    padding-left: 1em;
}

/* bron: http://stackoverflow.com/questions/935559/remove-safari-chrome-textinput-textarea-glow */
main > form input:focus{
    outline: none;
    border: 1px solid rgb(40, 0, 160);
}

main > form button{
    background: url(../images/button.png) center no-repeat;
    width: 5em;
    height: 2.5em;
    border: none;
    background-size: cover;
    padding: 0;
    display:inline-block;
}

/* ===================

Footer

=================== */

footer{
    display: flex;
    height: 4em;
    align-items: center;
    justify-content: space-around;
}

footer > ul > li > a {
    font-family: 'Nexa';
    color: rgb(96,96,96);
    text-decoration: none;
    font-size: 0.7em;
}

footer > ul > li > a:hover{
    color: rgb(255, 50, 104);
}


footer > ul{
    display: flex;
    align-items: center;
}

footer > ul > li{
    margin-left: 0.8em;
}

footer > img{
    height: 1.5em;
}

/*terug naar boven */
footer > button {
    display: flex;
    position: fixed;
    bottom: -4rem;
    right: 2vw;
    border: none;
    padding: 0;
    transition: bottom 0.5s;
}

/* ===================
  Javascript Classes
=================== */

footer > button.shift-up {
    bottom: -0.2rem;
}

